* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: 'Courier New', Courier, monospace;
    color: white;        
}

.location, 
.temperature {
    height: 30vh;
    /* width: 50%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
    display: block;
}

.degree-section {
    display: flex;
    align-items: center;
    /* cursor: pointer; */
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
    align-items: center;
}

button {
    min-width: 100px;
    font-family: inherit;
    appearance: none;
    border: 0;
    border-radius: 5px;
    /* background: #4676d7; */
    background: rgb(48, 62, 143);
    color: #fff;
    padding: 8px 16px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background: #1d49aa;
}

.day {
    display: inline;
    float: left;
    margin: 0px 50px;
    padding-bottom: 20px;
}

/* button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
} */

header {
    position: absolute;
    top: 70px;
}